@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');
html {
    font-family: 'Poppins', sans-serif;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    height: 60px;
    background-color: var(--primary-bgcolor);
    padding-top: 10px;
    padding-bottom: 14px;
    border-bottom:2px solid rgba(0,0,0,0.1); 
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.main-header {
    font-size: 20px;
    padding-left: 2rem;
    color:var(--text-color);
}

.dark {
    font-size: 15px;
    padding-top: -10px;
    font-weight: 600;
    color:var(--text-color);
    padding-right: 6rem;
}

/****Media Queries****/
@media screen and (max-width: 400px) {
    .nav {
        height: 50px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .main-header {
        font-size: 13px;
        margin-left: -3rem;
    }

    .dark {
        font-size: 13px;
        margin-right: -5rem;
        margin-top: 8px;
    }  
}

@media screen and (max-width: 600px) {
    .nav {
        height: 50px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .main-header {
        font-size: 13px;
        margin-left: -3rem;
    }

    .dark {
        font-size: 13px;
        margin-right: -5rem;
        margin-top: 8px;
    }
}

